.my{
    display: flex;
    padding: 2rem;
    justify-content: center;
    gap: 2rem;
}
.my>main{
    width: 60%;
}

.user-sidebar>div{
    border:  1px solid rgb(230, 230, 230);
    width: 250px;
    text-align: center;
}
.user-sidebar>div>h2{
    margin: 0px;
    font-size: 18px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 8px 0px;
    font-weight: 600;
}
.user-sidebar>div>p:not(:last-child){
    border-bottom: 1px solid rgb(230, 230, 230);
    margin: 0px;
    padding: 10px 0px;
    font-size: 15px;
}
.user-sidebar>div>p:last-child{
    margin: 0px;
    font-size: 15px;
    padding: 12px 0px;
}
.user-sidebar>div>p{
    background-color: #F8F9FA;
}
.user-sidebar>div>p:hover{
    cursor: pointer;
}

.image-upload{
    display: none;
}
.update-form,.user-stopwatch{
    border-bottom: 1px solid rgb(230, 230, 230);
    border-top: 1px solid rgb(230, 230, 230);
    padding: 0.7rem 0rem;
}
.my-order{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 0.7rem 0rem;
}
.user-acc-details>h3{
    margin: 0px;
    font-size: 18px;
    padding: 8px 0px;
    font-weight: 600;
    padding-top: 0px;
    margin-bottom: 8px;
}
.update-form>div:first-child{
    display: flex;
    gap: 20px;
    font-size: 15px;
    align-items: center;
}
.update-form>div:first-child>button{
    padding: 9px 15px;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    font-size: 15px;
    border: none;
}
.update-form>div:nth-child(2) div>label{
    font-size: 15px;
    padding: 5px 0px;
}
.update-form>div:nth-child(2){
    display: flex;
    width: 100%;
    gap: 70px;
    align-items: center;
    margin: 10px 0px;
}
.update-form>div:nth-child(2)>div:first-child{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.update-form>div:nth-child(2)>div>div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.update-form>div:nth-child(2)>div>div>input{
    border:  1px solid rgb(230, 230, 230);
    padding: 13px 20px;
    border-radius: 2px;
    font-size: 15px;
}
.update-form input:focus{
    outline: none;
}
.phone-input{
    width: 100%;
    display: flex;
    flex-direction: column ;
    margin: 10px 0px;
}
.phone-input>label{
    font-size: 15px;
    padding: 5px 0px;
}
.phone-input>input{
    border:  1px solid rgb(230, 230, 230);
    padding: 13px 20px;
    border-radius: 2px;
    font-size: 15px;
}
.update-form input::placeholder{
    font-size: 14px;
}
.update-form+div>button{
    padding: 12px 17px;
    margin: 15px 0px;
    background-color: white;
    border:  1px solid rgb(230, 230, 230);
    font-size: 15px;
    border-radius: 4px;
}
.update-form+div>button:hover{
    color: white;
    background-color: rgb(14, 87, 232);
}
.main-update-photo>label svg{
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: #ebebeb;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.4s;
    z-index: 100;
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.main-update-photo>label svg:hover{
    transform: scale(1.2);
}
.main-update-photo{
    position: relative;
}

.update-form>div>h4{
    margin: 10px 0px;
    font-size: 16px;
}

.reset-pass{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}
.reset-pass>div{
    display: flex;
    width: 48%;
    flex-direction: column;
}
.reset-pass input{
    border:  1px solid rgb(230, 230, 230);
    padding: 13px 20px;
    border-radius: 2px;
    font-size: 15px;
}
.reset-pass label{
    font-size: 15px;
    padding: 5px 0px;
}

.user-stopwatch{
    text-align: center;
}
.user-stopwatch>h1{
    font-size: 82px;
    font-weight: 300;
    margin: 0px;
}
.user-stopwatch>div{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.user-stopwatch>div>button{
    padding: 12px 17px;
    margin: 15px 0px;
    background-color: white;
    border:  1px solid rgb(230, 230, 230);
    font-size: 15px;
    border-radius: 4px;
}
.st:hover{
    background-color: rgb(14, 87, 232);
    color: white;
    cursor: pointer;
}
.rs:hover{
    background-color: red;
    color: white;
}
.order-search-bar{
    width: 100%;
    margin: 10px 0px;
}
.order-search-bar>input,.order-search-bar>button{
    border:  1px solid rgb(230, 230, 230);
    padding: 12px 20px;
    font-size: 14px;
}
.order-search-bar>input:focus{
    outline: none;
}
.order-search-bar>button:hover{
    background-color: rgb(14, 87, 232);
    color: white;
    cursor: pointer;
}
.order-search-bar>button{
    background-color: white;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 15%;
}
.order-search-bar>input{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 80%;
}
.order-count>span{
    font-size: 14.5px;
    padding: 4px 0px;
}

.main-orders-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem 0rem;
}
.order{
    border:  1px solid rgb(230, 230, 230);
    display: flex;
    gap: 30px;
    padding: 1.5rem 1rem;
    border-radius: 5px;
}
.order img{
    width: 80px;
}
.order>div:last-child{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.order span>span{
    font-weight: 700;
    color: #758696;
}
.order:hover{
    background-color: #F8F9FA;
    cursor: pointer;
}
.order-stack-img{
    position: relative;
    display: flex;
    width: 80px;
    transition: all 0.4s;
}
.order-stack-img>img{
    position: absolute;
    border: 2px solid white;
    box-shadow: 0 1px 3px -2px rgba(0,0,0,.5);
    transition: all 0.4s;
    top: -10px;
    left: 0px;
}
.order-stack-img>img:first-child{
    z-index: 10;
}
.order-stack-img>img:nth-child(2){
    transform: rotate(10deg);
}
.order-stack-img>img:nth-child(3){
    transform: rotate(-10deg);
}

.order-invoice{
    width: 100%;
}
.invoice-box{
    width: 75%;
    margin: auto;
    padding: 1.5rem 0rem;
}
.invoice-head{
    display: flex;
    justify-content: space-between;
    border-bottom:  1px solid rgb(230, 230, 230);
    padding: 0rem 0.8rem 0.6rem 0rem ;
}
.invoice-head>h2,.invoice-main h2{
    margin: 0px;
    font-size: 20px;
}
.invoice-head>div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}
.invoice-head>div>svg{
    font-size: 20px;
}

.invoice-details{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.invoice-details>div:first-child{
    width: 50%;
    display: flex;
}

.invoice-details>div:first-child>div{
    display: flex;
    width: 70%;
    flex-direction: column;
    font-size: 14.5px;
    gap: 2px;
}
.invoice-details button{
    border: 1px solid rgb(230, 230, 230);
    padding: 10px 15px;
    background-color: white;
    font-size: 13px;
}
.cancel-order>button:hover{
    background-color: #F8F9FA;
    cursor: pointer;
}

.invoice-main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 2rem;
    gap: 20px;
}
.invoice-main h2{
    border-bottom:1px solid rgb(230, 230, 230) ;
    padding-bottom: 0.6rem;
}
.invoice-order{
    width: 67%;
    box-sizing: border-box;
    padding: 1rem;
    padding-left: 0px;
}
.invoice-summary{
    width: 32%;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid rgb(230, 230, 230);
    padding-bottom: 7px;
    height: 300px;
}
.invoice-total{
    display: flex;
    flex-direction: column;
}
.invoice-total>div{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 8px 0px;
}
.invoice-total>div:first-child{
    padding-top: 15px;
}
.invoice-total>div:nth-child(4){
    padding-bottom: 30px;
}
.invoice-total>div:last-child{
    border-top: 1px solid rgb(230, 230, 230);
    padding-top: 15px;
}

.invoice-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    position: relative;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.invoice-item>div{
    text-align: center;
}
.invoice-item img{
    width: 80px;
}
.invoice-item>div:nth-child(1){
    display: flex;
    gap: 20px;
    text-align: left;
    font-size: 14.5px;
    width: 40%;

}
.invoice-item span,p,strong{
    font-size: 14.5px;
}
.invoice-item>div:nth-child(1)>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.invoice-item>div:nth-child(1)>div>span:last-child{
    color: #758696;
}
.invoice-item b{
    font-size: 15px;
    color: rgb(14, 87, 232);
}
.invoice-item>div>p{
    margin: 0px;
}
.invoice-item>div:nth-child(2)>span{
    font-weight: 800;
    color: #758696;
}
.cancel-order{
    position: relative;
}
.confirm-cancel{
    position: absolute;
    box-shadow :0 0 10px 0 #e6e5ea;
    width: 220px;
    background-color: white;
    border-radius: 5px;
    top: 40px;
    right: 0px;
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.confirm-cancel>p{
    padding: 8px;
    margin: 2px 0px;
    font-size: 15px;
}
.confirm-cancel>button{
    background-color: #DC3545;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
}
.confirm-cancel>button:hover{
    opacity: 0.8;
}